
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
   
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Inicio</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Expedientes
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="/exptes/create">Nuevo</a></li>
              
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/exptes">Trabajar con Exptes</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Parametros
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="/ctns">Tipo Contratacion</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/pvds">Proveedores</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/elts">Elementos</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/prds">Prioridades</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/ests/movests">Estados</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/ests/movests/ctns">Asignar Estados</a></li>

            </ul>
          </li>

          
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Informes
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="/informes/Requerimientos">Requerimientos</a></li>
              
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/informes/volantes">Volantes</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/informes/ordenes">Ordenes de Compra</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/informes/facturas">Facturas</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Usuarios
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="/users/create">Nuevo</a></li>
              
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/users">Trabajar con Usuarios</a></li>
            </ul>
          </li>
        </ul>
        <ul>
        <% if(user) { %>
          
          <li class="nav-item dropdown ">
            <a class="btn btn-outline-success text-white-50 me-1 " href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Usuario: <%= user %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="/users/change">Cambiar Contraseña</a></li>
              
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/logout">Cerrar Session</a></li>
            </ul>
          </li>
        </ul>
         
        <% } %>
      </head>
      
        
       
      
        
      </div>
    </div>


  </nav>
